<% provide :title, @user.name %>

<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
        Tên: <%= @user.name %></br>
        Vai trò: <%= @user.position %></br>
        Email: <%= @user.email %></br>
        KTX: <%= @user.area.name %></br>
    </section>
  </aside>
</div>
