<% provide :title, @user.name %>

<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h1>
        <%= @user.name %></br>
        <%= @user.position %></br>
        <%= @user.email %></br>
        <%= @user.area_id %></br>
      </h1>
    </section>
  </aside>
</div>
