<% provide :title, @user.name %>

<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
        Name: <%= @user.name %></br>
        Role: <%= @user.position %></br>
        Email: <%= @user.email %></br>
        <%= @user.area.name %></br>
    </section>
  </aside>
</div>
