<% provide :title, @user.name %>
<div class="form-sign col-sm-offset-4 col-sm-4">
<div class="row">
  <aside style="text-align: center">
    <section class="user-info" style="color: #333">
        Tên: <%= @user.name %></br>
        Vai trò: <%= @user.position %></br>
        Email: <%= @user.email %></br>
        KTX: <%= @user.area.name %></br>
    </section>
  </aside>
</div>
</div>
