<div class="left-sidebar">
  <h2 style="font-size: 24px;"><%= t "check_out" %></h2>
</div>
<div class="line">
  <div class="picture-show col-sm-7">
    <div class="col-sm-5">
      <div class="unit5">
        <div class="form-order">
          <%= render "form", order: @order, product: @product %>
        </div>
      </div>
    </div>
  </div>
</div>
