@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

$gray-medium-light: #eaeaea;
$white: #fff;
$black: #000;
$bbb: #bbb;
$red: #f00;
$cam: #d44e03;
$ddd: #ddd;
$bac: #989494;
$rbga: rgba(100, 100, 100, .4);
$blue: #f0f0f0;
$d9: #9d9d9d;

@mixin box-sizing {
  box-sizing: border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $gray-light;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.logo {
  color: $white;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    color: $red;
    text-decoration: none;
  }
}

footer {
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.debug-dump {
  @include box-sizing;
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}

aside {
  .user-info {
    margin-top: 20px;
  }

  section {
    margin-top: 20px;
    padding: 10px 0;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
      text-align: left;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar-edit {
  margin-top: 15px;
}

input,
textarea,
select,
.uneditable-input {
  @include box-sizing;
  border: 1px solid $bbb;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto;
}

.error-explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.field-with-errors {
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-bottom: 10px;
  margin-top: -10px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

.session-remember-me {
  margin-left: 0;
  width: auto;
}

.users {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}

.notificator {
  display: inline-block;
  float: right;
  margin: 0;

  li {
    list-style: none;
    position: relative;

    i {
      color: $white;
    }
  }
}

.notification-counter {
  background-color: $cam;
  border-radius: 3px;
  color: $white;
  font: 8px Verdana;
  left: 25px;
  padding: 1px 3px;
  position: absolute;
  top: -2px;
}

.notificationlist {
  li {
    border-bottom: $ddd 1px solid;
    position: relative;
  }

  span {
    color: $bac;
    font-size: 8px;
  }

}

.notificationcontainer {
  background-color: $white;
  border: 1px solid $rbga;
  display: none;
  margin-left: -253px;
  overflow: visible;
  position: absolute;
  top: 70px;
  width: 300px;
  z-index: 0;
}

.notificationcontainer::before {
  border: 10px solid $black;
  border-color: transparent transparent $white;
  color: transparent;
  content: '';
  display: block;
  height: 0;
  margin-left: 258px;
  margin-top: -20px;
  position: absolute;
  width: 0;
}

.notificationtitle {
  background-color: $blue;
  border-bottom: 1px solid $cam;
  color: $cam;
  font-size: 13px;
  font-weight: bold;
  padding: 8px;
  position: absolute;
  width: 298px;
  z-index: 1;
}

.notificationsbody {
  max-height: 300px;
  min-height: 300px;
  overflow: auto;
  padding: 3px 0 0;
  position: relative;
  width: 90%;

  ul {
    padding-left: 0;
  }
}


.notificationfooter {
  background-color: $gray-medium-light;
  border-top: 1px solid $ddd;
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

.notifications {
  margin-left: 10px;
  margin-top: 40px;
}

.iconx {
  color: $d9;
  padding: 10px 10px 0 5px;

  &:hover {
    color: $white;
  }
}

.lix {
  margin-left: -35px;
}
