  <footer>
    <div id="site-footer" class="footer">
      <div class="site-footer-inner">
        <div class="footer-content">
          <div class="social-links">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-skype"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
          </div>
          <div class="copyright">
            <div class="copyright-content">
              <div id="text-6" class="widget widget_text">
                <div class="textwidget">
                  <div id="logo" class="col-sm-4">
                    <div style="" class="logo">
                      <%= link_to image_tag("logo.png"), root_path, class: "colors something" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /#footer-content -->
      </div><!-- /.site-footer-inner -->
    </div><!-- /.container -->
  </footer>